<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">User Profile</h5>

        <h6 class="card-subtitle mb-2 text-muted">User Name</h6>
        <p class="card-text">{{user.firstName + ' ' + user.lastName}}</p>
        <h6 class="card-subtitle mb-2 text-muted">Age</h6>
        <p class="card-text">{{user.age}}</p>
        <h6 class="card-subtitle mb-2 text-muted">Address</h6>
        <p class="card-text">{{user.address}} </p>

    </div>
    <button type="button" class="btn btn-success" routerLink="/registration">Register

    </button>

</div>